GEMINI_API_KEY=place_your_gemini_api_key_here   # https://aistudio.google.com/api-keys
PUBLIC_DATA_API_KEY=place_your_public_data_api_key_here
BASIC_DRUG_API_BASE_URL=http://apis.data.go.kr/1471000/DrbEasyDrugInfoService/getDrbEasyDrugList
ADVANCED_DRUG_API_BASE_URL=http://apis.data.go.kr/1471000/DrugPrdtPrmsnInfoService07/getDrugPrdtPrmsnDtlInq06