GEMINI_API_KEY=place_your_gemini_api_key_here   # https://aistudio.google.com/api-keys
DRUG_API_KEY=place_your_drug_api_key_here
DRUG_API_BASE_URL=http://apis.data.go.kr/1471000/DrbEasyDrugInfoService/getDrbEasyDrugList